<head>
    <title></title>
    <style>
        h1 {
            text-align: center;
        }

        h2 {
            text-align: center;
        }

        p {
            text-align: right;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>

    <h1>InsiderLens</h1><br><br>
    <h2>Designated Person and Connected Person report for the range: {{ from }} to {{ to }}</h2><br>
    <p>Report date: {{'utc'}}</p>
</head>
<br>
<hr><br><br>
<h1>Active users</h1>
<table width="100%" border="0" cellspacing="0" cellpadding="0">

    <tr>
        <th>Sr.No</th>
        <th>InsiderLens ID</th>
        <th>Name</th>
        <th>PAN</th>
        <th>Insider type</th>
        <th>Date of addition as insider</th>
        <th>Date of cessation as insider</th>
        <th>Remarks for cessation</th>
    </tr>
    {{#each response.cp}}
    <tr>
        <td>{{this.srno}}</td>
        <td>{{this.id}}</td>
        <td>{{0}}</td>
        <td>{{0}}</td>
        <td>{{0}}</td>
        <td>{{0}}</td>
        <td>{{0}}</td>
        <td>{{0}}</td>
    </tr>
    {{/each}}
</table>