/* Base reset & fonts */
body,
h1,
h2,
p,
button {
    font-family: 'ITC Charter Black', serif;
    margin: 0;
    padding: 0;
    color: #000000;
}

.logo {
    position: absolute;
    top: 10%;
    width: 15%;
}

/* Full center layout */
.auth-container {
    display: flex;
    flex-direction: column;
    /* Stack vertically */
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.main-text {
    font-size: 45px;
    margin-bottom: 30px;
}

.auth-box {
    text-align: center;
    background-color: #e9e4e4;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 35%;
}

.version {
    margin-bottom: 20px;
    font-weight: bold;
}

.powered-text {
    position: absolute;
    bottom: 20px;
    font-size: 20px;
    color: #6e6d6d;
}

// .powered-text {
//     position: absolute;
//     bottom: 20px;
//     right: 20px; /* Add this */
//     font-size: 20px;
//     color: #6e6d6d;
// }

/* Spinner & Loading */
.loading-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/* Error Card */
.card {
    background-color: #ffeaea;
    border: 1px solid #f44336;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error-message {
    color: red;
    margin-top: 10px;
}

.button {
    display: block;
    margin: 20px auto 0 auto;
    background: linear-gradient(to left, #FD5108, #FF7B3E);
    color: #fff;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    width: 50%;
}

.button:hover {
    opacity: 0.9;
}


/* Responsive styles */
@media (max-width: 480px) {
    .auth-box h1 {
        font-size: 24px;
    }

    .button {
        width: 80%;
        font-size: 16px;
        padding: 10px;
    }

    .powered-text {
        font-size: 14px;
    }
}

/* --- Footer Section --- */
.footer {
    background-color: #E8ECEF;
    padding: 5px 15px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo {
    height: 30px;
    width: auto;
    vertical-align: middle;
}

.welcome {
    color: #000000;
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    display: flex;
    align-items: center;
}



.footer-right {
    margin: 0;
    font-size: 18px;
    color: #000;
}